.websockets
  %ul
    %li
      .chat#user1
        %p chat1
        .chat-massages
        .input-area
          %input
          %p
            %button
              submit
    %li
      .chat#user2
        %p chat2
        .chat-massages
        .input-area
          %input
          %p
            %button
              submit
    %li
      .chat#user3
        %p chat3
        .chat-massages
        .input-area
          %input
          %p
            %button
              submit
